@font-face {
    font-family: Caviar-Dreams-Bold;
    src: url(font/Caviar-Dreams-Bold.ttf);
}

@font-face {
    font-family: Lora-Bold;
    src: url(font/Lora-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(font/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(font/Montserrat-Bold.ttf);
}