* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    font-size: 100%;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.bg-header {
    background: #ffffff url(img/bg-header.png) no-repeat center;
    background-size: cover;
}

h1 {
    color: rgb(255, 255, 255);
    text-shadow: 1.91px 10.833px 5px rgba(0, 0, 0, 0.33);
    font: 5.5em "Lora-Bold";
    letter-spacing: 4px;
    max-width: 60%;
    padding: 10% 0;
}

h2 {
    font: 2.25em "Montserrat-Bold";
    color: rgb(42, 51, 60);
    font-weight: bold;
    padding: 5% 0;
    position: relative;
    background-image: none;
}

.flexbox {
    display: flex;
}

.main-nav a {
    font-size: .875em "Montserrat-Bold";
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.main-nav {
    width: 50%;
}

.main-nav li {
    margin-right: 15%;
}

.top-header {
    max-width: 100%;
    padding-top: 3.5%;
    align-items: center;
}

.logo {
    flex-grow: 1;
}

.main-nav-burger {
    height: 20px;
    width: 25px;
    display: none;
    position: relative;
    z-index: 3;
}

.main-nav-burger span {
    position: absolute;
    top: 45%;
    display: block;
    background-color: #ffffff;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
}

.main-nav-burger span::before,
.main-nav-burger span::after {
    content: "";
    display: block;
    background-color: #ffffff;
    height: 3px;
    width: 100%;
    border-radius: 3px;
}

.main-nav-burger span::before {
    transform: translate(0, -8px);
}

.main-nav-burger span::after {
    transform: translate(0, 5px);
}

.main-nav-burger.opened span::before,
.main-nav-burger.opened span::after {
    transition-duration: 0.7s;
    transition-timing-function: ease-in-out;
}

.main-nav-burger.opened span {
    transform: rotate(180deg) scale(2) translate(15px, -15px);
}

.main-nav-burger.opened span::before {
    transform: translate(17px, -3px) rotate(45deg);
}

.main-nav-burger.opened span::after {
    transform: translate(17px, -0.5px) rotate(-45deg);
}

.main-nav-burger.opened span::before,
.main-nav-burger.opened span::after {
    width: 30%;
}

.top-header .logo a {
    color: rgb(255, 255, 255);
    font-weight: bold;
    font: 2.25em "CaviarDreams-Bold";
    letter-spacing: 2px;
    width: 462px;
}

.player {
    background-color: #b50b1d;
}

.player>.container {
    padding: 15px 0;
    align-items: center;
    justify-content: center;
}

.button {
    border: 2px solid #ffffff;
    border-radius: 50%;
    background: #b50b1d url(img/css_sprites.png) no-repeat;
    width: 64px;
    height: 64px;
}

.play-button {
    background-position: -167px -94px;
    transform: scale(1.1);
}

.player-button {
    transform: scale(0.9);
    margin-left: 15px;
}

.volume-button {
    background-position: -410px -94px;
}

.prev-button {
    background-position: -250px -94px;
}

.next-button {
    background-position: -90px -94px;
}

.circle-button {
    background-position: -330px -94px;
}

.stop-button {
    background-position: -10px -94px;
}

.name-playing {
    width: 55%;
    justify-content: space-between;
    margin-left: 35px;
    padding-bottom: 20px;
    border-bottom: 5px solid black;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    z-index: 5;
}

.song-name {
    max-width: 80%;
    font: .875em "Montserrat";
    z-index: 5;
}

.song-duration {
    max-width: 20%;
    font: .75em "Montserrat";
    z-index: 5;
}

.play {
    width: 5%;
}

.player-buttons {
    width: 40%;
    justify-content: center;
}

.genres-list,
.news-container {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
}

.genres-list li,
.link {
    width: 23%;
    text-align: center;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
}

.genres-list li a {
    display: block;
    padding-bottom: 5%;
    padding-top: 65%;
    font: 1.125em "Montserrat-Bold";
    color: rgb(42, 51, 60);
    font-weight: bold;
    position: relative;
}

h2::before,
time::before,
.date-news::before {
    content: "";
    display: block;
    position: absolute;
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(img/css_sprites.png);
}

h2::before {
    background-position: -10px -61px;
    width: 249px;
    height: 13px;
    right: 101.5%;
    top: 43%;
}

.genres-list li:nth-of-type(1) {
    background: transparent url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 68 72%22 width%3D%2268%22 height%3D%2272%22%3E%3Cstyle%3Etspan %7B white-space%3Apre %7D.shp0 %7B fill%3A %2329333b %7D %3C%2Fstyle%3E%3Cpath id%3D%22icon%22 class%3D%22shp0%22 d%3D%22M66.2 11.3C65.72 11.12 65.18 11.25 64.84 11.64L48.6 30.02L33.34 47.29L18.17 33.34C18.16 33.33 18.15 33.33 18.14 33.32C18.12 33.3 18.1 33.28 18.07 33.26C18.05 33.24 18.02 33.23 18 33.21C17.97 33.19 17.95 33.18 17.92 33.17C17.89 33.15 17.87 33.14 17.84 33.12C17.82 33.12 17.82 33.11 17.8 33.11C17.79 33.1 17.77 33.1 17.76 33.09C17.73 33.08 17.7 33.07 17.66 33.06C17.64 33.05 17.61 33.05 17.58 33.04C17.55 33.04 17.52 33.03 17.49 33.03C17.46 33.02 17.43 33.02 17.4 33.02C17.37 33.02 17.34 33.02 17.31 33.02C17.28 33.02 17.26 33.02 17.23 33.02C17.2 33.02 17.17 33.03 17.14 33.03C17.11 33.04 17.08 33.04 17.05 33.05C17.02 33.06 16.99 33.07 16.96 33.07C16.93 33.08 16.9 33.09 16.88 33.1C16.86 33.11 16.85 33.11 16.84 33.12C16.82 33.13 16.81 33.13 16.8 33.14C16.77 33.15 16.74 33.17 16.71 33.18C16.69 33.2 16.66 33.22 16.64 33.23C16.61 33.25 16.59 33.27 16.57 33.29C16.54 33.31 16.52 33.33 16.49 33.35C16.48 33.36 16.47 33.37 16.46 33.38L0.36 49.68C0.13 49.92 0 50.23 0 50.56L0 70.76C0 71.44 0.55 72 1.24 72L17.33 72L33.43 72L49.53 72L65.76 72C66.45 72 67 71.44 67 70.76L67 12.46C67 11.95 66.68 11.48 66.2 11.3ZM32.19 69.52L18.57 69.52L18.57 54.99C18.57 54.3 18.02 53.75 17.33 53.75C16.65 53.75 16.1 54.3 16.1 54.99L16.1 69.52L2.47 69.52L2.47 51.07L16.1 37.27L16.1 50.02L16.1 50.02C16.1 50.71 16.65 51.27 17.33 51.27C18.02 51.27 18.57 50.71 18.57 50.02L18.57 50.02L18.57 37.08L32.19 49.61L32.19 69.52L32.19 69.52ZM64.53 69.52L50.76 69.52L50.76 61.65L50.76 61.65C50.76 60.96 50.21 60.41 49.53 60.41C48.84 60.41 48.29 60.96 48.29 61.65L48.29 61.65L48.29 69.52L34.67 69.52L34.67 49.53L48.29 34.11L48.29 56.68L48.29 56.68C48.29 57.37 48.84 57.92 49.53 57.92C50.21 57.92 50.76 57.37 50.76 56.68L50.76 56.68L50.76 31.31L64.53 15.73L64.53 69.52ZM58.99 2.26C58.99 2.25 58.99 2.24 58.99 2.23C58.99 2.21 58.99 2.19 58.98 2.17C58.98 2.15 58.98 2.13 58.98 2.11C58.98 2.09 58.97 2.07 58.97 2.05C58.96 2.03 58.96 2.01 58.96 1.99C58.95 1.97 58.95 1.95 58.94 1.93C58.94 1.91 58.93 1.89 58.92 1.87C58.92 1.85 58.91 1.84 58.9 1.82C58.9 1.8 58.89 1.78 58.88 1.76C58.87 1.74 58.86 1.72 58.85 1.7C58.84 1.69 58.84 1.67 58.83 1.66C58.82 1.64 58.8 1.62 58.79 1.6C58.78 1.58 58.77 1.57 58.76 1.56C58.75 1.54 58.74 1.52 58.72 1.5C58.71 1.49 58.7 1.47 58.69 1.46C58.67 1.44 58.66 1.43 58.64 1.41C58.63 1.4 58.61 1.38 58.6 1.37C58.59 1.36 58.58 1.35 58.57 1.34C58.57 1.34 58.56 1.33 58.56 1.33C58.54 1.31 58.52 1.3 58.51 1.29C58.49 1.28 58.48 1.26 58.46 1.25C58.44 1.24 58.43 1.23 58.41 1.22C58.39 1.21 58.37 1.2 58.36 1.19C58.34 1.18 58.32 1.17 58.31 1.16C58.29 1.15 58.27 1.14 58.25 1.13C58.23 1.13 58.21 1.12 58.2 1.11C58.18 1.11 58.16 1.1 58.14 1.09C58.12 1.08 58.1 1.08 58.08 1.08C58.06 1.07 58.04 1.06 58.02 1.06C58 1.06 57.99 1.05 57.97 1.05C57.95 1.05 57.92 1.04 57.9 1.04C57.88 1.04 57.87 1.04 57.85 1.03C57.83 1.03 57.8 1.03 57.78 1.03C57.77 1.03 57.77 1.03 57.76 1.03L53.13 1C53.13 1 53.12 1 53.12 1C52.44 1 51.89 1.55 51.88 2.23C51.88 2.92 52.43 3.48 53.11 3.48L55.02 3.5L33.34 28L18.17 14.04C17.68 13.59 16.92 13.61 16.46 14.08L0.36 30.38C-0.12 30.87 -0.12 31.66 0.37 32.14C0.61 32.38 0.92 32.5 1.24 32.5C1.56 32.5 1.87 32.38 2.11 32.13L17.38 16.68L32.6 30.68C32.84 30.9 33.16 31.02 33.49 31C33.82 30.99 34.13 30.84 34.35 30.59L56.54 5.51L56.55 6.93C56.55 7.62 57.1 8.17 57.78 8.17C57.78 8.17 57.79 8.17 57.79 8.17C58.47 8.16 59.02 7.6 59.02 6.92L58.99 2.26Z%22 %2F%3E%3C%2Fsvg%3E') no-repeat center;
    background-size: auto 40%;
}

.genres-list li:nth-of-type(2) {
    background: transparent url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 84 83%22 width%3D%2284%22 height%3D%2283%22%3E%3Cstyle%3Etspan %7B white-space%3Apre %7D.shp0 %7B fill%3A %2329333b %7D %3C%2Fstyle%3E%3Cpath id%3D%22icon%22 class%3D%22shp0%22 d%3D%22M40.26 47.87C40.59 47.87 40.93 47.75 41.19 47.49C41.7 46.98 41.7 46.16 41.19 45.65L38.78 43.27C38.27 42.76 37.43 42.76 36.92 43.27C36.4 43.78 36.4 44.6 36.92 45.11L39.33 47.49C39.58 47.75 39.92 47.87 40.26 47.87ZM30.92 46.75C30.4 47.26 30.4 48.08 30.92 48.59L35.81 53.42C36.06 53.68 36.4 53.81 36.74 53.81C37.07 53.81 37.41 53.68 37.67 53.42C38.18 52.92 38.18 52.09 37.67 51.58L32.78 46.75C32.26 46.24 31.43 46.24 30.92 46.75ZM36.59 59.57C37.32 59.57 37.91 60.16 37.91 60.87C37.91 61.59 37.32 62.18 36.59 62.18C35.86 62.18 35.27 61.59 35.27 60.87C35.27 60.16 35.86 59.57 36.59 59.57ZM35.36 64.52C36.09 64.52 36.68 65.11 36.68 65.82C36.68 66.54 36.09 67.13 35.36 67.13C34.63 67.13 34.05 66.54 34.05 65.82C34.05 65.11 34.63 64.52 35.36 64.52ZM83.58 9.69L82.27 8.4L82.99 7.12C83.82 5.64 83.55 3.78 82.34 2.59C81.62 1.87 80.66 1.48 79.63 1.48C78.98 1.48 78.33 1.64 77.77 1.96L76.47 2.67L75.16 1.37C74.65 0.87 73.82 0.87 73.3 1.37C72.79 1.88 72.79 2.71 73.3 3.21L74.08 3.98L72.65 4.77L71.34 3.47C70.83 2.96 69.99 2.96 69.48 3.47C68.97 3.98 68.97 4.8 69.48 5.31L70.26 6.08L68.83 6.87L67.53 5.58C67.01 5.08 66.18 5.08 65.67 5.58C65.15 6.09 65.15 6.92 65.67 7.42L66.48 8.23C66.39 8.31 66.3 8.39 66.21 8.47C64.85 9.81 64.73 11.91 65.83 13.39L47.7 30.5C46.76 30.48 45.83 30.65 44.96 31.01L3.84 48.25C3.29 48.48 2.79 48.81 2.36 49.24C0.54 51.04 0.54 53.98 2.36 55.78C3.25 56.65 4.43 57.13 5.67 57.13C5.82 57.13 5.97 57.13 6.12 57.11L6.12 57.1C6.32 57.09 6.56 57.07 6.88 57.04L10.95 56.65L10.7 54.06C10.7 54.06 6.03 54.51 5.88 54.52C5.26 54.58 4.66 54.37 4.23 53.94C3.43 53.15 3.43 51.87 4.23 51.08C4.41 50.89 4.63 50.75 4.87 50.64L43.53 34.44L40.13 37.65C39.87 37.89 39.72 38.22 39.72 38.57C39.72 38.92 39.86 39.26 40.11 39.51L45 44.34C45.24 44.59 45.58 44.72 45.93 44.72C45.93 44.72 45.94 44.72 45.94 44.72C46.3 44.72 46.63 44.57 46.88 44.32L50.13 40.96L33.73 79.17C33.63 79.41 33.48 79.62 33.29 79.81C32.49 80.6 31.19 80.6 30.4 79.81C29.96 79.38 29.75 78.78 29.8 78.18L31.81 57.59C31.95 56.21 31.46 54.85 30.46 53.87C29.47 52.89 28.1 52.41 26.7 52.54L15.94 53.56C15.22 53.63 14.69 54.27 14.76 54.98C14.83 55.7 15.47 56.22 16.19 56.15L26.95 55.13C27.57 55.07 28.17 55.28 28.6 55.71C29.04 56.14 29.25 56.73 29.19 57.34L27.18 77.93C27.05 79.31 27.54 80.67 28.53 81.65C29.45 82.55 30.64 83 31.84 83C33.04 83 34.24 82.55 35.15 81.65C35.58 81.22 35.92 80.73 36.15 80.18L53.59 39.54C53.96 38.69 54.13 37.76 54.11 36.83L71.41 18.92C72.07 19.39 72.85 19.65 73.68 19.65C74.71 19.65 75.67 19.26 76.4 18.54C76.48 18.46 76.56 18.36 76.64 18.27L77.46 19.08C77.71 19.33 78.05 19.46 78.39 19.46C78.72 19.46 79.06 19.33 79.32 19.08C79.83 18.57 79.83 17.74 79.32 17.24L78.02 15.95L78.82 14.54L79.59 15.31C79.85 15.56 80.19 15.69 80.52 15.69C80.86 15.69 81.2 15.56 81.45 15.31C81.97 14.8 81.97 13.98 81.45 13.47L80.14 12.17L80.94 10.76L81.72 11.53C81.97 11.78 82.31 11.91 82.65 11.91C82.98 11.91 83.32 11.78 83.58 11.53C84.09 11.02 84.09 10.2 83.58 9.69ZM45.9 41.56L42.92 38.61L67.66 15.27L69.52 17.11L45.9 41.56ZM80.69 5.85L75.22 15.57C75.22 15.58 74.74 16.44 74.74 16.44C74.68 16.53 74.62 16.62 74.54 16.7C74.31 16.93 74 17.05 73.68 17.05C73.36 17.05 73.06 16.93 72.83 16.7L68.07 12C67.6 11.53 67.6 10.78 68.07 10.31C68.15 10.23 68.24 10.16 68.34 10.11L69.21 9.63C69.21 9.63 79.04 4.23 79.04 4.23C79.22 4.13 79.42 4.08 79.63 4.08C79.95 4.08 80.26 4.21 80.48 4.43C80.86 4.81 80.95 5.39 80.69 5.85Z%22 %2F%3E%3C%2Fsvg%3E') no-repeat center;
    background-size: auto 40%;
}

.genres-list li:nth-of-type(3) {
    background: transparent url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 100 95%22 width%3D%22100%22 height%3D%2295%22%3E%3Cstyle%3Etspan %7B white-space%3Apre %7D.shp0 %7B fill%3A %2329333b %7D %3C%2Fstyle%3E%3Cpath id%3D%22icon%22 class%3D%22shp0%22 d%3D%22M58.69 34.02L56.38 35.81C58.38 38.31 59.43 41.32 59.43 44.52C59.43 52.28 53.02 58.6 45.14 58.6C37.27 58.6 30.86 52.28 30.86 44.52C30.86 36.75 37.27 30.43 45.14 30.43C48.36 30.43 51.39 31.46 53.92 33.4L55.73 31.11C52.68 28.77 49.02 27.53 45.15 27.53C35.64 27.53 27.92 35.15 27.92 44.52C27.92 53.88 35.64 61.5 45.15 61.5C54.65 61.5 62.37 53.88 62.37 44.52C62.37 40.67 61.1 37.04 58.69 34.02ZM45.14 39.24C42.19 39.24 39.79 41.61 39.79 44.52C39.79 47.43 42.19 49.79 45.14 49.79C48.1 49.79 50.5 47.43 50.5 44.52C50.5 41.61 48.1 39.24 45.14 39.24ZM45.14 46.89C43.81 46.89 42.73 45.83 42.73 44.52C42.73 43.2 43.81 42.14 45.14 42.14C46.48 42.14 47.56 43.2 47.56 44.52C47.56 45.83 46.47 46.89 45.14 46.89ZM95.14 41.63C94.46 41.63 93.81 41.77 93.22 42.02L93.22 39.74C93.22 37.09 91.04 34.94 88.35 34.94C88.31 34.94 88.26 34.95 88.21 34.95C83.72 15.19 65.84 1 45.14 1C33.35 1 22.27 5.53 13.93 13.74C5.59 21.96 1 32.89 1 44.52C1 56.14 5.59 67.07 13.93 75.29C22.27 83.51 33.35 88.03 45.14 88.03C51.85 88.03 58.5 86.51 64.49 83.64C67.22 90.29 73.85 95 81.57 95C91.73 95 100 86.85 100 76.83L100 46.42C100 43.78 97.82 41.63 95.14 41.63ZM63.14 55.34L63.14 70.88C57.82 74.42 51.61 76.29 45.14 76.29C27.37 76.29 12.91 62.04 12.91 44.52C12.91 27 27.37 12.74 45.14 12.74L45.14 9.84C25.75 9.84 9.97 25.4 9.97 44.52C9.97 63.63 25.75 79.19 45.14 79.19C51.55 79.19 57.71 77.51 63.14 74.31L63.14 76.83C63.14 77 63.15 77.16 63.15 77.33C63.15 77.36 63.16 77.4 63.16 77.43C63.16 77.56 63.17 77.69 63.17 77.82C63.17 77.86 63.18 77.89 63.18 77.92C63.19 78.06 63.2 78.19 63.21 78.33C63.21 78.35 63.21 78.37 63.21 78.4C63.23 78.54 63.24 78.69 63.26 78.83C63.26 78.85 63.26 78.86 63.26 78.87C63.28 79.03 63.3 79.19 63.32 79.35C63.32 79.35 63.32 79.35 63.32 79.35C63.39 79.85 63.48 80.35 63.6 80.84C57.91 83.65 51.55 85.13 45.14 85.13C22.42 85.13 3.94 66.91 3.94 44.52C3.94 22.12 22.42 3.9 45.14 3.9C63.94 3.9 80.24 16.43 84.98 34.09C84.92 34.03 84.86 33.98 84.8 33.92C84.78 33.91 84.77 33.9 84.76 33.89C84.69 33.84 84.63 33.78 84.56 33.73C84.54 33.71 84.52 33.7 84.49 33.68C84.41 33.62 84.33 33.56 84.25 33.51C84.24 33.5 84.22 33.49 84.21 33.49C84.14 33.44 84.06 33.39 83.99 33.35C83.96 33.34 83.94 33.32 83.92 33.31C83.83 33.26 83.74 33.22 83.65 33.17C83.64 33.17 83.62 33.16 83.61 33.16C83.53 33.12 83.45 33.09 83.36 33.05C83.34 33.04 83.31 33.03 83.29 33.02C83.19 32.99 83.09 32.95 82.99 32.92C82.99 32.92 82.98 32.92 82.97 32.92C82.88 32.89 82.78 32.87 82.69 32.84C82.66 32.84 82.64 32.83 82.61 32.83C82.51 32.8 82.4 32.78 82.3 32.77C82.3 32.77 82.29 32.77 82.29 32.77C82.19 32.75 82.08 32.74 81.98 32.73C81.95 32.73 81.93 32.73 81.9 32.73C81.79 32.72 81.68 32.71 81.57 32.71C78.89 32.71 76.71 34.86 76.71 37.51L76.71 37.56C76.12 37.31 75.47 37.17 74.79 37.17C72.11 37.17 69.93 39.32 69.93 41.97L69.93 50.94C69.34 50.69 68.69 50.55 68.01 50.55C65.33 50.55 63.14 52.7 63.14 55.34ZM97.06 76.83L97.06 76.83C97.06 85.25 90.11 92.1 81.57 92.1C74.44 92.1 68.43 87.33 66.63 80.85C66.59 80.71 66.55 80.56 66.52 80.41C66.49 80.29 66.46 80.16 66.43 80.04C66.41 79.93 66.39 79.83 66.37 79.72C66.34 79.6 66.32 79.48 66.3 79.36C66.28 79.26 66.27 79.17 66.25 79.07C66.22 78.86 66.19 78.66 66.17 78.45C66.17 78.38 66.16 78.31 66.15 78.24C66.14 78.07 66.12 77.91 66.11 77.74C66.11 77.67 66.11 77.6 66.1 77.53C66.09 77.3 66.08 77.07 66.08 76.83L66.08 55.34C66.08 54.29 66.95 53.45 68.01 53.45C69.07 53.45 69.93 54.29 69.93 55.34L69.93 70.48L72.87 70.48L72.87 55.34L72.87 53.89L72.87 41.97C72.87 40.92 73.73 40.07 74.79 40.07C75.85 40.07 76.71 40.92 76.71 41.97L76.71 62.68L79.65 62.68L79.65 41.97L79.65 40.52L79.65 37.51C79.65 36.46 80.51 35.61 81.57 35.61C82.63 35.61 83.49 36.46 83.49 37.51L83.49 38.29L83.49 39.74L83.49 60.45L86.43 60.45L86.43 39.74C86.43 39.65 86.44 39.57 86.45 39.48C86.46 39.46 86.46 39.44 86.46 39.42C86.48 39.34 86.49 39.27 86.51 39.2C86.52 39.19 86.52 39.18 86.52 39.17C86.55 39.1 86.57 39.03 86.61 38.96C86.62 38.93 86.63 38.9 86.64 38.88C86.67 38.83 86.7 38.78 86.73 38.73C86.75 38.7 86.77 38.67 86.79 38.64C86.83 38.59 86.86 38.55 86.9 38.5C86.92 38.48 86.94 38.45 86.97 38.43C87.01 38.38 87.06 38.34 87.11 38.29C87.13 38.28 87.14 38.27 87.16 38.25C87.22 38.21 87.28 38.17 87.34 38.13C87.36 38.12 87.37 38.11 87.39 38.1C87.47 38.06 87.54 38.02 87.63 37.98C87.85 37.89 88.1 37.84 88.36 37.84C89.42 37.84 90.28 38.69 90.28 39.74L90.28 44.97L90.28 46.42L90.28 62.68L93.22 62.68L93.22 46.42C93.22 45.38 94.08 44.53 95.14 44.53C96.2 44.53 97.06 45.38 97.06 46.42L97.06 76.83L97.06 76.83ZM45.14 21.59L45.14 18.69C30.7 18.69 18.94 30.27 18.94 44.52C18.94 58.76 30.7 70.34 45.14 70.34L45.14 67.45C32.32 67.45 21.88 57.16 21.88 44.52C21.88 31.87 32.32 21.59 45.14 21.59Z%22 %2F%3E%3C%2Fsvg%3E') no-repeat center;
    background-size: auto 40%;
}

.genres-list li:nth-of-type(4) {
    background: transparent url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 65 68%22 width%3D%2265%22 height%3D%2268%22%3E%3Cstyle%3Etspan %7B white-space%3Apre %7D.shp0 %7B fill%3A %2329333b %7D %3C%2Fstyle%3E%3Cpath id%3D%22icon%22 class%3D%22shp0%22 d%3D%22M52.82 58.84C46.11 58.84 40.65 53.35 40.65 46.59C40.65 39.83 46.11 34.34 52.82 34.34C56.23 34.34 59.31 35.75 61.52 38.03L61.52 20.76L25.35 29.12L25.35 55.75C25.35 62.5 19.89 68 13.18 68C6.46 68 1 62.5 1 55.75C1 48.99 6.46 43.49 13.18 43.49C16.58 43.49 19.66 44.91 21.88 47.19L21.88 11.9C21.88 11.09 22.43 10.38 23.22 10.2L62.87 1.04C63.39 0.92 63.93 1.05 64.34 1.38C64.76 1.71 65 2.22 65 2.75L65 46.59C65 53.35 59.54 58.84 52.82 58.84ZM13.18 46.99C8.38 46.99 4.48 50.92 4.48 55.75C4.48 60.57 8.38 64.5 13.18 64.5C17.97 64.5 21.88 60.57 21.88 55.75C21.88 50.92 17.97 46.99 13.18 46.99ZM61.52 4.94L25.35 13.3L25.35 25.53L61.52 17.17L61.52 4.94ZM52.82 37.84C48.03 37.84 44.13 41.76 44.13 46.59C44.13 51.42 48.03 55.35 52.82 55.35C57.62 55.35 61.52 51.42 61.52 46.59C61.52 41.76 57.62 37.84 52.82 37.84ZM53 52C50.24 52 48 49.76 48 47C48 44.24 50.24 42 53 42C55.76 42 58 44.24 58 47C58 49.76 55.76 52 53 52ZM13 61C10.24 61 8 58.76 8 56C8 53.24 10.24 51 13 51C15.76 51 18 53.24 18 56C18 58.76 15.76 61 13 61Z%22 %2F%3E%3C%2Fsvg%3E') no-repeat center;
    background-size: auto 40%;
}

.genres-list li:nth-of-type(5) {
    background: transparent url('data:image/svg+xml,%3Csvg xmlns%3D"http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" viewBox%3D"0 0 72 72" width%3D"72" height%3D"72"%3E%3Cstyle%3Etspan %7B white-space%3Apre %7D.shp0 %7B fill%3A %2329333b %7D %3C%2Fstyle%3E%3Cpath id%3D"icon" class%3D"shp0" d%3D"M70.32 1.68C69.83 1.2 69.17 0.95 68.48 1.01L63.14 1.43C62.59 1.47 62.06 1.71 61.67 2.11L61.03 2.74C61.03 2.74 60.31 1.93 59.53 2.71C58.75 3.49 59.56 4.22 59.56 4.22L58.78 5C58.78 5 58.02 4.22 57.28 4.96C56.53 5.7 57.31 6.47 57.31 6.47L56.55 7.23C56.12 7.66 55.88 8.23 55.87 8.83C55.87 8.83 55.81 11.69 55.81 11.73L47.44 19.06C45.17 17.55 42.63 16.56 39.94 16.16C39.37 16.07 38.84 16.47 38.76 17.04C38.67 17.6 39.07 18.13 39.63 18.22C43.14 18.74 46.38 20.4 49 23.02C51.94 25.97 53.7 29.78 53.94 33.76C54.06 35.74 53.79 37.66 53.16 39.46C52.49 41.36 51.43 43.04 50.02 44.45C48.46 46.01 46.38 46.96 45.5 47.37C45.32 47.46 43 48.12 42.87 51.98C42.7 56.56 40.9 60.79 37.8 63.89C35.97 65.72 33.8 67.08 31.33 67.94C28.98 68.76 26.47 69.09 23.87 68.92C18.65 68.58 13.62 66.24 9.71 62.33C5.81 58.42 3.47 53.39 3.12 48.16C2.95 45.56 3.28 43.05 4.1 40.7C4.96 38.23 6.33 36.05 8.16 34.22C11.25 31.13 15.47 29.33 20.05 29.15C20.05 29.15 23.6 29.2 24.5 26.85C24.57 26.66 25.79 23.79 27.58 21.99C28.99 20.58 30.67 19.53 32.57 18.86C33.11 18.66 33.39 18.07 33.2 17.53C33.01 16.99 32.42 16.7 31.87 16.89C29.68 17.67 27.74 18.89 26.11 20.52C24.07 22.56 22.92 25.21 22.58 26.04C22.52 26.14 21.99 26.89 19.94 27.08C14.85 27.27 10.15 29.29 6.69 32.75C4.63 34.8 3.1 37.25 2.14 40.02C1.23 42.63 0.86 45.42 1.05 48.3C1.43 54.03 3.98 59.54 8.24 63.8C12.5 68.07 18.01 70.62 23.74 71C24.23 71.03 28.52 71.16 32.01 69.91C34.77 68.92 37.22 67.41 39.27 65.36C42.74 61.89 44.56 57.16 44.94 52.05C45.11 49.74 46.22 49.33 46.37 49.26C47.35 48.81 49.66 47.74 51.49 45.92C53.12 44.29 54.34 42.35 55.12 40.15C55.85 38.09 56.15 35.89 56.01 33.63C55.82 30.42 54.75 27.3 52.95 24.58L60.28 16.2C60.3 16.2 63.17 16.14 63.17 16.14C63.78 16.13 64.35 15.89 64.77 15.46L65.54 14.7C65.54 14.7 66.24 15.54 67.04 14.73C67.85 13.93 67.01 13.22 67.01 13.22L67.79 12.44C67.79 12.44 68.56 13.22 69.29 12.48C70.03 11.74 69.26 10.97 69.26 10.97L69.89 10.34C70.29 9.94 70.53 9.42 70.57 8.87L70.99 3.52C71.05 2.84 70.8 2.17 70.32 1.68ZM51.7 22.9C51.31 22.44 50.58 21.32 49.14 20.34L56.8 13.63L58.38 15.21L51.7 22.9ZM68.42 8.86L63.3 13.99C63.26 14.04 60.34 14.13 60.34 14.13C60.28 14.13 60.21 14.1 60.16 14.05L57.96 11.85C57.91 11.8 57.97 8.75 58.02 8.7L63.14 3.58C63.18 3.53 68.65 3.08 68.65 3.08C68.65 3.08 68.8 3.11 68.85 3.16C68.9 3.21 68.93 3.28 68.92 3.36C68.92 3.36 68.47 8.82 68.42 8.86ZM39.05 32.97C37.92 31.84 36.41 31.21 34.8 31.21C33.2 31.21 31.69 31.84 30.55 32.97C29.42 34.11 28.79 35.62 28.79 37.22C28.79 38.83 29.42 40.34 30.55 41.48C31.69 42.61 33.2 43.24 34.8 43.24C36.41 43.24 37.92 42.61 39.05 41.48C40.19 40.34 40.81 38.83 40.81 37.22C40.81 35.62 40.19 34.11 39.05 32.97ZM37.58 40C36.84 40.75 35.85 41.16 34.8 41.16C33.75 41.16 32.77 40.75 32.02 40C31.28 39.26 30.87 38.27 30.87 37.22C30.87 36.17 31.28 35.19 32.02 34.44C32.77 33.7 33.75 33.29 34.8 33.29C35.85 33.29 36.84 33.7 37.58 34.44C38.32 35.19 38.73 36.17 38.73 37.22C38.73 38.27 38.32 39.26 37.58 40ZM36.6 15.98C36.14 16 35.67 16.04 35.22 16.1C34.65 16.17 34.26 16.69 34.32 17.26C34.43 18.32 35.44 18.17 35.48 18.16C35.88 18.11 36.29 18.08 36.69 18.06C37.27 18.04 37.71 17.55 37.69 16.98C37.66 16.4 37.18 15.96 36.6 15.98ZM27.49 56.52L25.84 54.87L27.23 53.49C27.64 53.08 27.64 52.42 27.23 52.02C26.82 51.61 26.17 51.61 25.76 52.02L24.37 53.4L22.24 51.27L25.35 48.15C25.76 47.74 25.76 47.09 25.35 46.68C24.95 46.27 24.29 46.27 23.88 46.68L20.77 49.8L18.63 47.66L23.43 42.86C23.83 42.45 23.83 41.8 23.43 41.39C23.02 40.98 22.36 40.98 21.96 41.39L17.16 46.19L15.51 44.54C14.92 43.94 14.13 43.62 13.3 43.62C12.46 43.62 11.67 43.94 11.08 44.54C10.49 45.13 10.16 45.92 10.16 46.76C10.16 47.59 10.49 48.38 11.08 48.97L23.06 60.96C23.65 61.55 24.44 61.88 25.28 61.88C26.11 61.88 26.9 61.55 27.49 60.96C28.09 60.37 28.41 59.58 28.41 58.74C28.41 57.9 28.09 57.12 27.49 56.52ZM26.02 59.49C25.82 59.69 25.56 59.8 25.28 59.8C24.99 59.8 24.73 59.69 24.53 59.49L12.55 47.5C12.35 47.3 12.24 47.04 12.24 46.76C12.24 46.47 12.35 46.21 12.55 46.01C12.75 45.81 13.01 45.7 13.3 45.7C13.58 45.7 13.84 45.81 14.04 46.01L26.02 58C26.22 58.2 26.33 58.46 26.33 58.74C26.33 59.03 26.22 59.29 26.02 59.49ZM64.24 6.03L63.63 5.42C63.41 5.2 63.06 5.2 62.84 5.42L62.24 6.03C62.02 6.24 62.02 6.6 62.24 6.81L62.84 7.42C63.06 7.64 63.41 7.64 63.63 7.42L64.24 6.81C64.45 6.6 64.45 6.24 64.24 6.03ZM66.58 8.38L65.98 7.77C65.76 7.55 65.41 7.55 65.19 7.77L64.58 8.38C64.37 8.59 64.37 8.95 64.58 9.16L65.19 9.77C65.41 9.98 65.76 9.98 65.98 9.77L66.58 9.16C66.8 8.95 66.8 8.59 66.58 8.38ZM64.33 10.63L63.73 10.02C63.51 9.81 63.16 9.81 62.94 10.02L62.33 10.63C62.12 10.84 62.12 11.2 62.33 11.41L62.94 12.02C63.16 12.24 63.51 12.24 63.73 12.02L64.33 11.41C64.55 11.2 64.55 10.84 64.33 10.63ZM61.99 8.28L61.38 7.67C61.16 7.46 60.81 7.46 60.59 7.67L59.99 8.28C59.77 8.5 59.77 8.85 59.99 9.06L60.59 9.67C60.81 9.89 61.16 9.89 61.38 9.67L61.99 9.06C62.2 8.85 62.2 8.5 61.99 8.28ZM42.51 29.51C40.45 27.45 37.72 26.32 34.8 26.32C31.89 26.32 29.15 27.45 27.09 29.51C22.85 33.76 22.85 40.68 27.09 44.94C29.15 46.99 31.89 48.13 34.8 48.13C37.72 48.13 40.45 46.99 42.51 44.94C46.76 40.68 46.76 33.76 42.51 29.51ZM41.04 43.46C39.38 45.13 37.16 46.04 34.8 46.04C32.44 46.04 30.23 45.13 28.57 43.46C25.13 40.02 25.13 34.42 28.57 30.98C30.23 29.32 32.44 28.4 34.8 28.4C37.16 28.4 39.38 29.32 41.04 30.98C44.48 34.42 44.48 40.02 41.04 43.46Z" %2F%3E%3C%2Fsvg%3E') no-repeat center;
    background-size: auto 40%;
}

.genres-list li:nth-of-type(6) {
    background: transparent url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 85 86%22 width%3D%2285%22 height%3D%2286%22%3E%3Cstyle%3Etspan %7B white-space%3Apre %7D.shp0 %7B fill%3A %2329333b %7D %3C%2Fstyle%3E%3Cpath id%3D%22icon%22 class%3D%22shp0%22 d%3D%22M15.58 57.43C15.05 56.89 14.18 56.89 13.65 57.43C13.11 57.96 13.11 58.83 13.65 59.37L26.62 72.35C26.89 72.62 27.24 72.75 27.59 72.75C27.94 72.75 28.29 72.62 28.56 72.35C29.1 71.81 29.1 70.95 28.56 70.41L15.58 57.43ZM84.88 10.74C84.92 10.58 85.74 6.82 82.44 3.52C79.15 0.23 75.39 1.05 75.23 1.09C74.98 1.14 74.76 1.27 74.57 1.45L74.05 1.98L73.72 1.66C73.19 1.12 72.32 1.12 71.79 1.66C71.25 2.19 71.25 3.06 71.79 3.6L72.11 3.92L70.65 5.38L70.33 5.06C69.79 4.52 68.92 4.52 68.39 5.06C67.85 5.59 67.85 6.46 68.39 6.99L68.71 7.32L67.25 8.78L66.93 8.45C66.39 7.92 65.53 7.92 64.99 8.45C64.45 8.99 64.45 9.86 64.99 10.39L65.58 10.99L63.53 15.09L48.77 29.31C45.75 26.97 39.78 23.58 33.55 26.92C29.41 29.13 28.3 31.95 27.33 34.44C26.55 36.43 25.88 38.14 23.78 39.7C22.81 40.42 21.01 40.78 18.92 41.19C13.71 42.23 6.57 43.66 1.88 52.33C-3.71 62.66 4.58 72.68 8.4 76.51L9.49 77.6C12.4 80.51 18.88 86 26.37 86C28.73 86 31.18 85.46 33.66 84.12C42.33 79.42 43.75 72.29 44.79 67.07C45.2 64.99 45.56 63.19 46.29 62.21C47.84 60.11 49.55 59.44 51.54 58.66C54.03 57.69 56.85 56.58 59.06 52.44C62.39 46.21 59 40.23 56.67 37.21L70.88 22.44L74.98 20.39L75.58 20.98C75.84 21.25 76.2 21.39 76.55 21.39C76.9 21.39 77.25 21.25 77.52 20.98C78.05 20.45 78.05 19.58 77.52 19.05L77.19 18.72L78.65 17.26L78.98 17.59C79.24 17.85 79.59 17.99 79.94 17.99C80.3 17.99 80.65 17.85 80.91 17.59C81.45 17.05 81.45 16.18 80.91 15.65L80.59 15.32L82.05 13.86L82.37 14.19C82.64 14.45 82.99 14.59 83.34 14.59C83.69 14.59 84.04 14.45 84.31 14.19C84.85 13.65 84.85 12.78 84.31 12.25L83.99 11.92L84.52 11.4C84.7 11.22 84.82 10.99 84.88 10.74ZM56.64 51.14C54.91 54.4 52.88 55.19 50.54 56.11C48.46 56.92 46.11 57.84 44.08 60.58C43 62.05 42.58 64.13 42.1 66.54C41.12 71.48 39.89 77.63 32.35 81.7C23.64 86.42 14.82 79.05 11.43 75.66L10.34 74.57C6.95 71.18 -0.42 62.35 4.29 53.63C8.37 46.09 14.52 44.87 19.46 43.88C21.86 43.4 23.94 42.99 25.41 41.9C28.15 39.88 29.07 37.52 29.88 35.44C30.8 33.1 31.59 31.07 34.85 29.33C39.5 26.84 44.18 29.31 46.77 31.23L37.89 39.79C37.76 39.78 37.63 39.78 37.5 39.78C35.16 39.78 32.97 40.69 31.32 42.33C29.67 43.98 28.77 46.17 28.77 48.5C28.77 50.83 29.68 53.02 31.32 54.66C32.97 56.31 35.16 57.22 37.49 57.22C39.82 57.22 42.01 56.31 43.65 54.67C45.3 53.03 46.2 50.84 46.21 48.51C46.21 48.37 46.2 48.23 46.2 48.09L54.75 39.21C56.67 41.81 59.14 46.48 56.64 51.14ZM38.25 42.57C39.56 42.73 40.77 43.32 41.72 44.26C42.66 45.21 43.25 46.42 43.42 47.73C43.42 47.74 43.42 47.76 43.42 47.77C43.45 48.01 43.47 48.26 43.47 48.5C43.46 50.1 42.84 51.6 41.71 52.73C40.59 53.85 39.09 54.47 37.49 54.47C35.89 54.47 34.39 53.85 33.26 52.72C32.13 51.6 31.51 50.1 31.51 48.5C31.51 46.9 32.13 45.4 33.26 44.27C34.39 43.14 35.89 42.52 37.5 42.52C37.74 42.52 37.98 42.54 38.21 42.56C38.22 42.57 38.24 42.57 38.25 42.57ZM45.45 44.92C45.02 43.96 44.42 43.08 43.65 42.32C42.89 41.56 42.02 40.96 41.06 40.54L64.63 17.84L68.14 21.34L45.45 44.92ZM82.25 9.78L81.08 10.95C81.08 10.95 81.08 10.95 81.08 10.95C81.08 10.95 81.08 10.96 81.08 10.96L77.69 14.35C77.69 14.35 77.68 14.35 77.68 14.35C77.68 14.35 77.68 14.36 77.68 14.36L74.44 17.6L70.33 19.66L66.32 15.64L68.38 11.53L76.19 3.72C76.94 3.66 78.78 3.74 80.51 5.46C82.23 7.19 82.31 9.04 82.25 9.78Z%22 %2F%3E%3C%2Fsvg%3E') no-repeat center;
    background-size: auto 40%;
}

.genres-list li:nth-of-type(7) {
    background: transparent url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 68 77%22 width%3D%2268%22 height%3D%2277%22%3E%3Cstyle%3Etspan %7B white-space%3Apre %7D.shp0 %7B fill%3A %2329333b %7D %3C%2Fstyle%3E%3Cpath id%3D%22icon%22 class%3D%22shp0%22 d%3D%22M67.65 36.33L51.77 20.51C51.48 20.21 51.04 20.12 50.65 20.28C50.26 20.44 50.01 20.82 50.01 21.23C50.01 23.27 49.14 25.19 47.62 26.51C41.55 31.78 38.07 39.41 38.07 47.43L38.07 62.06C38.07 62.86 37.76 63.61 37.19 64.18C36.62 64.75 35.86 65.06 35.05 65.06C33.93 65.06 32.92 64.44 32.4 63.48C33.14 62.8 33.58 61.83 33.58 60.79C33.58 59.52 32.94 58.38 31.9 57.71L31.83 55.32C32.9 54.66 33.58 53.48 33.58 52.19C33.58 50.82 32.81 49.58 31.63 48.95L31.56 46.87C32.78 46.26 33.58 45.01 33.58 43.59C33.58 42.09 32.68 40.79 31.36 40.22L31.3 38.39C32.65 37.84 33.58 36.51 33.58 35C33.58 33.4 32.54 32.02 31.09 31.52L31.04 29.9C32.52 29.42 33.58 28.04 33.58 26.4C33.58 24.69 32.4 23.25 30.81 22.84L30.43 10.52C30.36 8.18 29.25 5.92 27.32 4.16C25.54 2.54 23.24 1.58 21.17 1.58L17.21 1.58C17.14 1.58 17.06 1.59 16.99 1.6L15.2 1.6C15.04 1.25 14.68 1 14.27 1L6.31 1C6.03 1 5.77 1.11 5.57 1.31L0.29 6.7C0 7 -0.08 7.43 0.08 7.82C0.24 8.2 0.62 8.44 1.03 8.44L14.27 8.44C14.77 8.44 15.18 8.09 15.28 7.62L16.71 7.62C16.86 7.7 17.03 7.75 17.21 7.75L21.01 7.75C21.55 7.77 22.72 8.22 23.47 9.01C23.86 9.41 24.05 9.81 24.04 10.2L22.57 61.86C22.56 62.01 22.56 62.16 22.56 62.31C22.56 70.41 29.18 77 37.32 77C45.45 77 52.08 70.4 52.08 62.3L52.08 59.33C52.08 52.25 52.71 48.09 54.19 45.43C55.58 42.94 57.68 41.75 60.86 39.95L61.11 39.81C62.65 38.94 64.1 38.12 65.68 38.12L66.97 38.12C66.97 38.12 66.97 38.12 66.97 38.12C67.54 38.12 68 37.66 68 37.1C68 36.79 67.86 36.51 67.65 36.33ZM28.42 29.77C28.5 29.8 28.58 29.83 28.66 29.86C28.68 29.87 28.69 29.87 28.71 29.88C28.8 29.91 28.88 29.94 28.97 29.96C28.97 29.96 28.97 29.96 28.97 29.96L29.02 31.43C29.01 31.43 29.01 31.43 29 31.43C28.92 31.45 28.83 31.48 28.74 31.51C28.73 31.51 28.71 31.52 28.7 31.52C28.61 31.55 28.53 31.58 28.44 31.62C28.43 31.62 28.43 31.63 28.42 31.63C28.34 31.66 28.27 31.7 28.19 31.74L28.19 29.66C28.25 29.69 28.31 29.72 28.37 29.75C28.39 29.75 28.4 29.76 28.42 29.77ZM28.34 38.33C28.43 38.37 28.52 38.41 28.61 38.44C28.61 38.44 28.62 38.45 28.62 38.45C28.71 38.48 28.81 38.51 28.9 38.54C28.91 38.54 28.93 38.54 28.94 38.55C29.03 38.57 29.12 38.59 29.22 38.61C29.23 38.61 29.24 38.61 29.24 38.62L29.29 39.97C29.26 39.97 29.23 39.98 29.21 39.98C29.18 39.99 29.16 39.99 29.14 40C29.1 40 29.06 40.01 29.02 40.02C29 40.03 28.98 40.03 28.97 40.04C28.91 40.05 28.86 40.07 28.8 40.08C28.79 40.09 28.77 40.09 28.75 40.1C28.72 40.11 28.68 40.12 28.64 40.14C28.62 40.14 28.6 40.15 28.57 40.16C28.54 40.17 28.51 40.19 28.48 40.2C28.46 40.21 28.43 40.22 28.41 40.23C28.38 40.24 28.35 40.25 28.32 40.27C28.3 40.28 28.28 40.29 28.26 40.3C28.23 40.31 28.21 40.32 28.19 40.33L28.19 38.26C28.23 38.28 28.27 38.3 28.31 38.32C28.32 38.32 28.33 38.33 28.34 38.33ZM28.33 46.92C28.36 46.93 28.39 46.95 28.41 46.96C28.44 46.97 28.46 46.98 28.49 46.99C28.52 47 28.55 47.01 28.58 47.02C28.6 47.03 28.63 47.04 28.65 47.05C28.68 47.06 28.71 47.07 28.74 47.08C28.77 47.09 28.79 47.1 28.82 47.11C28.85 47.12 28.88 47.13 28.91 47.14C28.94 47.14 28.96 47.15 28.99 47.16C29.02 47.16 29.05 47.17 29.09 47.18C29.11 47.18 29.14 47.19 29.16 47.2C29.2 47.2 29.24 47.21 29.27 47.22C29.29 47.22 29.32 47.22 29.34 47.23C29.4 47.24 29.45 47.24 29.51 47.25L29.55 48.53C29.55 48.53 29.54 48.53 29.54 48.53C29.51 48.54 29.48 48.54 29.45 48.54C29.42 48.55 29.39 48.55 29.36 48.56C29.33 48.56 29.3 48.56 29.27 48.57C29.24 48.57 29.21 48.58 29.18 48.59C29.15 48.59 29.12 48.6 29.1 48.6C29.07 48.61 29.03 48.62 29 48.62C28.98 48.63 28.95 48.64 28.92 48.65C28.89 48.65 28.86 48.66 28.83 48.67C28.81 48.68 28.78 48.69 28.76 48.7C28.73 48.71 28.7 48.72 28.67 48.73C28.64 48.73 28.61 48.74 28.59 48.75C28.56 48.76 28.53 48.78 28.5 48.79C28.48 48.8 28.45 48.81 28.43 48.82C28.4 48.83 28.37 48.85 28.34 48.86C28.32 48.87 28.29 48.88 28.27 48.89C28.24 48.9 28.22 48.92 28.19 48.93L28.19 46.85C28.21 46.86 28.23 46.87 28.26 46.89C28.28 46.9 28.3 46.91 28.33 46.92ZM30.34 50.63C31.03 50.83 31.52 51.47 31.52 52.19C31.52 52.88 31.08 53.49 30.43 53.72C30.26 53.78 30.08 53.81 29.89 53.81C29 53.81 28.27 53.08 28.27 52.19C28.27 51.3 29 50.57 29.89 50.57C30.05 50.57 30.2 50.59 30.34 50.63ZM28.19 57.53L28.19 55.45C28.22 55.46 28.24 55.48 28.26 55.49C28.29 55.5 28.31 55.51 28.34 55.52C28.37 55.54 28.4 55.55 28.42 55.56C28.45 55.57 28.48 55.58 28.5 55.59C28.53 55.61 28.56 55.62 28.59 55.63C28.62 55.64 28.64 55.65 28.67 55.66C28.7 55.67 28.73 55.68 28.76 55.69C28.78 55.7 28.81 55.7 28.84 55.71C28.87 55.72 28.9 55.73 28.93 55.74C28.96 55.75 28.99 55.75 29.01 55.76C29.04 55.77 29.08 55.77 29.11 55.78C29.13 55.79 29.16 55.79 29.19 55.8C29.22 55.81 29.25 55.81 29.29 55.82C29.31 55.82 29.34 55.83 29.37 55.83C29.4 55.83 29.44 55.84 29.47 55.84C29.5 55.84 29.52 55.85 29.55 55.85C29.59 55.85 29.62 55.86 29.65 55.86C29.68 55.86 29.71 55.86 29.74 55.86C29.75 55.86 29.77 55.86 29.78 55.87L29.82 57.11C29.8 57.11 29.78 57.11 29.76 57.12C29.73 57.12 29.7 57.12 29.67 57.12C29.64 57.12 29.6 57.12 29.57 57.13C29.54 57.13 29.51 57.13 29.48 57.13C29.45 57.14 29.42 57.14 29.39 57.15C29.36 57.15 29.33 57.16 29.3 57.16C29.27 57.16 29.24 57.17 29.21 57.18C29.18 57.18 29.15 57.19 29.12 57.19C29.09 57.2 29.06 57.21 29.03 57.21C29 57.22 28.97 57.23 28.95 57.24C28.91 57.24 28.88 57.25 28.85 57.26C28.83 57.27 28.8 57.28 28.77 57.29C28.74 57.3 28.71 57.31 28.68 57.32C28.65 57.33 28.63 57.33 28.6 57.34C28.57 57.36 28.54 57.37 28.51 57.38C28.49 57.39 28.46 57.4 28.44 57.41C28.41 57.42 28.38 57.44 28.35 57.45C28.32 57.46 28.3 57.47 28.27 57.49C28.25 57.5 28.22 57.51 28.19 57.53ZM29.89 59.17C30.1 59.17 30.31 59.21 30.5 59.28C31.12 59.53 31.52 60.12 31.52 60.79C31.52 61.39 31.19 61.93 30.66 62.22C30.42 62.34 30.17 62.41 29.89 62.41C29 62.41 28.27 61.68 28.27 60.79C28.27 59.89 29 59.17 29.89 59.17ZM30.27 45.17C30.27 45.17 30.26 45.17 30.26 45.17C30.15 45.2 30.02 45.21 29.89 45.21C29 45.21 28.27 44.49 28.27 43.59C28.27 43.53 28.27 43.48 28.28 43.42C28.28 43.4 28.28 43.38 28.28 43.37C28.29 43.33 28.3 43.29 28.3 43.25C28.31 43.23 28.31 43.21 28.32 43.19C28.33 43.16 28.34 43.12 28.35 43.09C28.36 43.07 28.36 43.05 28.37 43.03C28.38 42.99 28.4 42.96 28.41 42.93C28.42 42.91 28.43 42.89 28.44 42.87C28.45 42.84 28.47 42.81 28.49 42.78C28.5 42.76 28.51 42.74 28.52 42.72C28.54 42.7 28.56 42.67 28.58 42.64C28.59 42.62 28.6 42.61 28.62 42.59C28.64 42.56 28.66 42.54 28.68 42.52C28.7 42.5 28.71 42.48 28.73 42.46C28.75 42.44 28.77 42.43 28.79 42.41C28.81 42.39 28.83 42.37 28.85 42.35C28.87 42.34 28.88 42.33 28.89 42.32C29.04 42.2 29.21 42.11 29.4 42.05C29.4 42.05 29.41 42.05 29.41 42.04C29.45 42.03 29.5 42.02 29.54 42.01C29.55 42.01 29.56 42.01 29.58 42C29.61 42 29.65 41.99 29.69 41.99C29.71 41.98 29.73 41.98 29.75 41.98C29.78 41.98 29.82 41.98 29.85 41.97C29.88 41.97 29.92 41.97 29.95 41.98C29.97 41.98 29.98 41.98 30 41.98C30.05 41.98 30.11 41.99 30.16 42C30.17 42 30.17 42 30.17 42C30.95 42.13 31.52 42.8 31.52 43.59C31.52 44.35 31.01 44.99 30.27 45.17ZM30.1 36.6C30.03 36.61 29.96 36.62 29.89 36.62C29 36.62 28.27 35.89 28.27 35C28.27 34.1 29 33.38 29.89 33.38C29.94 33.38 29.97 33.38 29.98 33.38C29.99 33.38 30 33.38 30.01 33.38C30.86 33.44 31.52 34.15 31.52 35C31.52 35.81 30.91 36.5 30.1 36.6ZM31.52 26.4C31.52 27.28 30.83 27.99 29.95 28.02C29.93 28.02 29.93 28.02 29.92 28.02L29.89 28.02C29 28.02 28.27 27.29 28.27 26.4C28.27 25.52 28.96 24.81 29.84 24.78C29.85 24.78 29.86 24.78 29.87 24.78L29.89 24.78C30.79 24.78 31.52 25.51 31.52 26.4ZM13.23 6.39L12.24 6.39L12.24 3.05L13.23 3.05L13.23 6.39ZM10.18 6.39L9.1 6.39L9.1 3.05L10.18 3.05L10.18 6.39ZM6.75 3.05L7.04 3.05L7.04 6.39L3.48 6.39L6.75 3.05ZM15.3 3.66L16.18 3.66L16.18 5.57L15.3 5.57L15.3 3.66ZM60.09 38.02L59.84 38.17C56.61 39.99 54.05 41.44 52.39 44.43C50.72 47.42 50.01 51.87 50.01 59.33L50.01 62.3C50.01 69.27 44.32 74.95 37.32 74.95C30.32 74.95 24.62 69.28 24.62 62.31C24.62 62.18 24.62 62.05 24.63 61.92L26.1 10.25C26.12 9.32 25.73 8.4 24.97 7.6C23.81 6.38 22.12 5.72 21.05 5.69C21.04 5.69 21.03 5.69 21.02 5.69L18.24 5.69L18.24 3.63L21.17 3.63C24.33 3.63 28.25 6.73 28.37 10.58L28.75 22.9C28.75 22.9 28.74 22.9 28.74 22.91C28.65 22.93 28.57 22.96 28.49 22.99C28.48 23 28.47 23.01 28.45 23.01C28.38 23.04 28.3 23.08 28.22 23.12C28.22 23.12 28.22 23.12 28.21 23.12C28.21 23.12 28.2 23.13 28.19 23.13L28.19 22.43C28.19 21.87 27.73 21.41 27.16 21.41C26.59 21.41 26.13 21.87 26.13 22.43L26.13 66.06C26.13 66.62 26.59 67.08 27.16 67.08C27.73 67.08 28.19 66.62 28.19 66.06L28.19 64.05C28.7 64.31 29.28 64.46 29.89 64.46C29.99 64.46 30.09 64.46 30.19 64.45C30.21 64.45 30.24 64.44 30.27 64.44C30.35 64.43 30.44 64.42 30.53 64.41C30.54 64.4 30.55 64.4 30.55 64.4C31.42 66.04 33.14 67.12 35.05 67.12C36.41 67.12 37.69 66.59 38.65 65.63C39.61 64.68 40.13 63.41 40.13 62.06L40.13 47.43C40.13 40 43.36 32.94 48.98 28.06C50.38 26.84 51.36 25.22 51.8 23.44L64.57 36.16C62.92 36.43 61.49 37.24 60.09 38.02ZM52.44 27.55C52.81 27.98 52.77 28.63 52.34 29C48.19 32.6 45.26 37.53 44.09 42.88C43.98 43.36 43.56 43.69 43.08 43.69C43.01 43.69 42.94 43.68 42.86 43.67C42.31 43.55 41.95 43 42.07 42.44C43.34 36.66 46.51 31.34 50.98 27.45C51.41 27.08 52.06 27.12 52.44 27.55ZM41.43 48.37C41.43 47.63 41.46 46.89 41.52 46.16C41.57 45.59 42.06 45.17 42.63 45.22C43.2 45.26 43.62 45.76 43.58 46.32C43.52 47 43.5 47.69 43.5 48.37C43.5 48.94 43.03 49.4 42.46 49.4C41.9 49.4 41.43 48.94 41.43 48.37ZM45.07 49.46C42.94 49.46 41.21 51.19 41.21 53.32C41.21 55.44 42.94 57.17 45.07 57.17C47.21 57.17 48.94 55.44 48.94 53.32C48.94 51.19 47.21 49.46 45.07 49.46ZM45.07 55.12C44.08 55.12 43.27 54.31 43.27 53.32C43.27 52.33 44.08 51.52 45.07 51.52C46.07 51.52 46.88 52.33 46.88 53.32C46.88 54.31 46.07 55.12 45.07 55.12ZM45.07 57.73C42.94 57.73 41.21 59.46 41.21 61.59C41.21 63.71 42.94 65.44 45.07 65.44C47.21 65.44 48.94 63.71 48.94 61.59C48.94 59.46 47.21 57.73 45.07 57.73ZM45.07 63.39C44.08 63.39 43.27 62.58 43.27 61.59C43.27 60.6 44.08 59.79 45.07 59.79C46.07 59.79 46.88 60.6 46.88 61.59C46.88 62.58 46.07 63.39 45.07 63.39Z%22 %2F%3E%3C%2Fsvg%3E') no-repeat center;
    background-size: auto 40%;
}

.genres-list li:nth-of-type(8) {
    background: transparent url('data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 76 80%22 width%3D%2276%22 height%3D%2280%22%3E%3Cstyle%3Etspan %7B white-space%3Apre %7D.shp0 %7B fill%3A %2329333b %7D %3C%2Fstyle%3E%3Cpath id%3D%22icon%22 class%3D%22shp0%22 d%3D%22M66.94 3.1C64.39 1.72 61.51 1 58.62 1C52.24 1 46.38 4.42 43.33 9.92C41.07 14 39.77 20.3 40.03 25.97C40.21 29.75 41.01 32.93 42.36 35.38C40.33 38.47 41.74 41.12 41.91 41.45C40.65 43.3 39.33 45.31 38 47.34C36.58 45.16 35.27 43.19 34.1 41.45C34.27 41.12 35.94 38.05 33.64 35.38C34.99 32.93 35.79 29.75 35.97 25.97C36.23 20.3 34.93 14 32.67 9.92C28.07 1.63 17.48 -1.43 9.06 3.1C5.75 4.87 3.17 7.59 1.6 10.95C1.33 11.54 1.59 12.24 2.19 12.51C2.78 12.78 3.49 12.52 3.77 11.93C5.12 9.03 7.35 6.69 10.2 5.16C15.89 2.1 22.71 3.05 27.32 7.03C24.44 10.65 20.65 13.78 16.29 16.13C11.93 18.47 7.2 19.92 2.55 20.34C2.29 18.62 2.33 16.86 2.69 15.14C2.83 14.5 2.41 13.88 1.77 13.75C1.13 13.62 0.49 14.03 0.36 14.66C-0.47 18.63 0.15 22.78 2.13 26.34C4.39 30.42 9.07 34.9 14.06 37.75C17.38 39.64 20.53 40.7 23.36 40.91C24.25 43.65 26.41 44.37 28.3 44.56C29.6 47.52 31.22 51.02 33.1 54.99C31.39 57.68 29.87 60.11 28.74 61.94C28.4 62.49 28.59 63.19 29.13 63.55C29.7 63.93 30.55 63.53 30.77 63.16C33.64 58.54 38.97 50.05 43.49 43.35C44.29 43.83 44.92 44.18 45.23 44.29C39.66 56.78 30.65 74.7 29.86 76.12C29.07 77.54 27.24 78.07 25.79 77.29C25.09 76.91 23.42 75.31 24.6 73.29C24.73 73.06 25.29 72.1 26.46 70.17C26.8 69.62 26.62 68.9 26.05 68.56C25.49 68.23 24.76 68.41 24.42 68.97C23.43 70.6 22.69 71.83 22.51 72.16C20.28 76.17 23.39 78.67 24.65 79.35C25.47 79.79 26.35 80 27.22 80C29.13 80 30.98 79 31.95 77.24C32.36 76.52 34.88 71.53 38 65.16C41.21 71.71 43.68 76.58 44.05 77.24C45.02 79 46.87 80 48.78 80C49.65 80 50.53 79.79 51.35 79.35C52.96 78.49 55.43 75.8 53.5 72.16C53.03 71.29 48.36 63.61 42.91 54.99C44.62 51.37 46.29 47.77 47.7 44.56C49.59 44.37 51.56 43.89 52.65 40.9C60.57 40.31 70.21 32.95 73.87 26.34C78.47 18.05 75.36 7.62 66.94 3.1ZM6.37 28.31C5.51 27.27 3.78 25.01 3.1 22.64C7.97 22.15 12.89 20.63 17.43 18.19C21.97 15.75 25.94 12.49 28.99 8.73C30.69 10.31 31.64 13.23 32.06 14.51C29.15 18.32 25.23 21.61 20.69 24.05C16.14 26.5 11.21 27.96 6.37 28.31ZM8.37 30.47C12.95 29.89 17.55 28.41 21.83 26.11C26.1 23.82 29.86 20.81 32.83 17.32C33.38 19.82 33.65 22.52 33.6 25.14C31.1 27.68 28.17 29.86 24.88 31.63C21.6 33.39 18.15 34.64 14.63 35.33C12.36 33.96 10.2 32.27 8.37 30.47ZM17.8 36.99C20.62 36.22 23.37 35.11 26.03 33.69C28.68 32.26 31.11 30.58 33.3 28.67C32.68 32.72 31.09 36.17 28.25 37.69C25.41 39.22 21.6 38.67 17.8 36.99ZM26.03 40.83C27.24 40.66 28.37 40.3 29.39 39.75C30.41 39.2 31.33 38.46 32.13 37.55C32.89 39.77 31.37 41.39 30.55 41.83C29 42.67 27.08 42.21 26.03 40.83ZM34.6 52.61C33.14 49.51 31.86 46.72 30.78 44.29C31.78 43.95 32.26 43.55 32.52 43.35C33.74 45.17 35.11 47.24 36.59 49.52C35.92 50.56 35.25 51.6 34.6 52.61ZM51.4 73.29C52.36 75.05 50.91 76.91 50.21 77.29C48.76 78.07 46.93 77.54 46.14 76.12C45.73 75.38 42.76 69.51 39.32 62.45C40.1 60.85 40.9 59.2 41.7 57.52C46.79 65.59 51.01 72.56 51.4 73.29ZM45.46 41.83C44.64 41.39 42.98 39.77 43.88 37.55C44.68 38.46 45.59 39.2 46.61 39.75C47.63 40.3 48.76 40.66 49.97 40.83C48.93 42.21 47 42.67 45.46 41.83ZM51.63 38.59C50.17 38.59 48.87 38.29 47.75 37.69C45.15 36.29 43.37 33.07 42.69 28.66C44.88 30.57 47.32 32.26 49.98 33.69C52.63 35.11 55.4 36.22 58.22 37C55.96 38 53.7 38.59 51.63 38.59ZM61.39 35.34C57.86 34.64 54.41 33.4 51.12 31.63C47.83 29.86 44.89 27.67 42.39 25.13C42.34 22.52 42.62 19.82 43.17 17.32C46.14 20.8 49.9 23.82 54.18 26.11C58.45 28.41 63.06 29.9 67.65 30.47C65.81 32.28 63.66 33.97 61.39 35.34ZM69.63 28.31C64.8 27.96 59.86 26.5 55.32 24.05C50.77 21.61 46.86 18.32 43.94 14.5C44.36 13.23 45.63 9.94 47.02 8.73C50.06 12.49 54.03 15.75 58.57 18.19C63.11 20.63 68.04 22.15 72.9 22.64C72.27 25.01 70.49 27.27 69.63 28.31ZM73.45 20.34C68.8 19.92 64.08 18.47 59.71 16.13C55.35 13.78 51.56 10.65 48.69 7.03C51.39 4.69 54.9 3.35 58.62 3.35C61.11 3.35 63.59 3.97 65.8 5.16C71.48 8.21 74.36 14.37 73.45 20.34ZM28.54 64.52C27.98 64.18 27.24 64.36 26.9 64.91L26.26 65.95C25.92 66.5 26.11 67.21 26.67 67.56C27.38 68.01 28.08 67.53 28.3 67.16L28.94 66.13C29.28 65.57 29.1 64.85 28.54 64.52ZM71.2 16.48C71.15 15.84 70.59 15.35 69.93 15.4C69.27 15.44 68.78 16 68.82 16.65C68.85 16.95 68.84 17.26 68.85 17.56C68.88 18.75 70.03 18.75 70.04 18.75C70.69 18.75 71.22 18.24 71.23 17.6C71.24 17.23 71.23 16.85 71.2 16.48ZM70.37 12.84C69.81 11.41 68.99 10.11 67.95 8.98C67.51 8.5 66.76 8.47 66.27 8.9C65.78 9.34 65.74 10.08 66.19 10.56C67.03 11.48 67.69 12.53 68.15 13.69C68.33 14.16 69.04 14.64 69.69 14.36C70.3 14.11 70.61 13.45 70.37 12.84Z%22 %2F%3E%3C%2Fsvg%3E') no-repeat center;
    background-size: auto 40%;
}

.link,
.loading-link {
    font: .875em "Montserrat-Bold";
    letter-spacing: 1px;
    color: rgb(193, 33, 39);
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    padding: 1.5% 1%;
    margin: 2% auto 5% auto;
    background-color: #ffffff;
    text-align: center;
}

.loading-link {
    width: 35%;
}

.genres-list li {
    margin-bottom: 25px;
}

.bg-events {
    background: #ffffff url(img/bg-events.png) no-repeat center;
    background-size: cover;
}

.bg-events-people {
    position: relative;
}

.bg-events-people::after {
    content: "";
    display: block;
    background: transparent url(img/people-events.png) no-repeat right;
    background-size: contain;
    right: 0;
    bottom: -3%;
    position: absolute;
    height: 100%;
    width: calc(100% / 3 * 2);
}

.event-container {
    flex-direction: column;
    margin: 3% 5%;
    border-left: 2px solid #ffffff;
    padding: 3%;
    font: .875em "Montserrat-Regular";
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 1.5em;
    display: inline-block;
    position: relative;
    width: calc(100% / 2);
}

.event-name {
    font: 3em "Montserrat-Bold";
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.event:first-child {
    padding-bottom: 14%;
}

.description-post {
    font: .875em/24px "Montserrat-Regular";
    color: rgb(42, 51, 60);
    font-weight: bold;
}

h3 {
    font: 1.125em "Montserrat-Bold";
    color: rgb(42, 51, 60);
    font-weight: bold;
    margin-top: 8%;
}

.news-item {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 4px;
    padding: 2% 4% 2% 2%;
    width: 25%;
}

.news-item .link {
    white-space: nowrap;
    float: left;
    border-radius: 2px;
    border-color: #dddddd;
    width: 101px;
    font-size: 12px;
}

.date-news {
    font: 0.6875em/24px "Montserrat-Bold";
    color: rgb(42, 51, 60);
    font-weight: bold;
    padding-left: 5%;
    position: relative;
}

.date-news::before {
    width: 0;
    height: 0;
    border: 4px solid rgb(221, 221, 221);
    left: 0;
    top: 0;
    position: absolute;
}

.news-el {
    margin-bottom: 8%;
}


.subscribe {
    background: #ffffff url(img/bg-subscribe.png) no-repeat center;
    background-size: cover;
    padding: 3% 0;
}

.subscribe>.container {
    position: relative;
}

.subscribe p:nth-of-type(1) {
    font: 3.75em "Lora";
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
}

.subscribe p:nth-of-type(2) {
    font: 1.125em/24px "Montserrat-Bold";
    color: rgb(255, 255, 255);
    font-weight: bold;
    width: 60%;
}

.subscribe-label {
    margin-bottom: 30px;
}

.submit-container {
    position: relative;
    width: 55%;
    margin-bottom: 10px;
}

.submit {
    border-radius: 4px;
    background-color: #b50b1e;
    font: .875em "Montserrat-Bold";
    color: rgb(255, 255, 255);
    font-weight: bold;
    border-color: #b50b1e;
    position: absolute;
    text-transform: uppercase;
    right: -3px;
    padding: 9.5px 15px;
    top: 0;
    z-index: 2;
    top: 10%;
}

.email-field {
    font: .875em "Montserrat-Bold";
    color: rgb(153, 153, 153);
    border-radius: 4px;
    padding: 5px;
    width: 99%;
    height: 35px;
}

footer>.container {
    border-top: 1px solid transparent;
}

.copyright-socials-container {
    margin: 5% 0 3% 0;
    justify-content: space-between;
}

.copyright {
    font: .875em "Montserrat-Bold";
    letter-spacing: 1px;
    color: rgb(42, 51, 60);
    width: 50%;
}

.social {
    width: 40%;
    justify-content: space-between;
    align-items: center;
}


.social a {
    background-color: transparent;
    background-repeat: no-repeat;
    background-image: url(img/css_sprites.png);
    margin-right: 10%;
    position: relative;
}

.social a:nth-of-type(1) {
    background-position: -10px -214px;
    width: 16px;
    height: 29px;
}

.social a:nth-of-type(2) {
    background-position: -10px -174px;
    width: 25px;
    height: 20px;
}

.social a:nth-of-type(3) {
    background-position: -532px -94px;
    width: 24px;
    height: 24px;
}

.social a:nth-of-type(4) {
    background-position: -490px -94px;
    width: 22px;
    height: 28px;
}

.social a:nth-of-type(5) {
    background-position: -55px -174px;
    width: 23px;
    height: 17px;
}