/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-alternative {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 160px;
  height: 160px;
}
.icon-country {
  background-image: url(sprite.png);
  background-position: -160px 0px;
  width: 160px;
  height: 160px;
}
.icon-jazz {
  background-image: url(sprite.png);
  background-position: 0px -160px;
  width: 160px;
  height: 160px;
}
.icon-pop {
  background-image: url(sprite.png);
  background-position: -160px -160px;
  width: 160px;
  height: 160px;
}
.icon-reggae {
  background-image: url(sprite.png);
  background-position: -320px 0px;
  width: 160px;
  height: 160px;
}
.icon-rnb {
  background-image: url(sprite.png);
  background-position: -320px -160px;
  width: 160px;
  height: 160px;
}
.icon-rock {
  background-image: url(sprite.png);
  background-position: 0px -320px;
  width: 160px;
  height: 160px;
}
.icon-trending-top {
  background-image: url(sprite.png);
  background-position: -160px -320px;
  width: 160px;
  height: 160px;
}
